table {
    border-collapse: collapse;

    display: flex;

}

td,
th {
    padding: 1em;
}

th:first-child {
    padding-left: .5em;
}

th:last-child,
td:last-child {
    padding-right: .5em;
}

thead th {
    border-bottom: 2px solid lightblue;
}

tbody th {
    font-weight: normal;
    text-align: left;
}

th a {
    background: url("https://wiki.selfhtml.org/images/6/6b/Pdf.png") no-repeat left center;
    padding: 15px 5px 15px 40px;
}

td {
    text-align: center;
}

td:nth-child(3) {
    text-align: right;
}

td:nth-child(4) {
    color: red;
    font-weight: bold;
}

td.paid {
    color: green;
    font-weight: normal;
}

label { display: inline-block;;
        padding: 12px; 
        background: #efefef; 
        cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  
  /* Toggle this class - hide and show the popup */
  .tooltip .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


label span {display: inline-block; width: 120px;}

.hide {display: none;}