table {
    border-collapse: collapse;
    display: flex; 
    width:80%;

}


td,
th {
    display: table-cell;
    margin: 0;
    padding: 0.3em;
    border: 1px solid #000000;
}

tbody {
  font-size: 90%;
}


tbody tr td:first-child, tbody tr td:last-child {
  text-align: center;
  vertical-align: baseline;
}




.tooltip {
    position: relative;
    cursor: pointer;
    border-bottom: 1px dotted black;
  }
  
.tooltip .tooltiptext {

  visibility: hidden;
  width: 300px;
  background-color: rgb(230, 230, 230);
  color: #6fb020;
  border-radius: 2px;
  padding: 10px;
  position: absolute;
  z-index: 10;
  left: 100%;
  margin-top: -10px;
  margin-left: 12px;
  font-size: 90%;
}
  



.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* Toggle this class - hide and show the popup */
.tooltip .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



label { 
  display: inline-block;
  padding: 0.3em;
}


.label {
clear: both;
float: left;
width: 15em !important;
padding: 0.2em 0 0 0;
display: block;
}

.haupttext {
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  line-height: 1.25em;
  margin: 0em 0em 0em 0em
}

.feld {
  padding: 0.2em 0 !important;
}


legend {

  margin: 0;
  padding: 0;
  font-weight: bold;

}

fieldset {
  border: 1px solid #00689e;
  padding-left: 1em;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}


p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.inputKlein {
  border: solid 1px rgb(0, 0, 0);
  width: 5em !important;
  padding: 0.2em;
}


/* label span {display: inline-block; width: 120px;}

.hide {display: none;} */


